.main_image{
    height: 95vh;
    width: 40vw;
    object-fit: cover;
    box-sizing: border-box;
    display: inline;
    float: left;
    position: relative;
    left: 50px;
    clear: both;

}

.headPlusBtn{
    position: absolute;
    left: 55vw;
    top: 40vh;
}

.main_header{
    font-size: 2.5em;
    text-align: center;
}

.main_header >:nth-child(2n+1){
    color : orangered;
    font-size: 1.3em;
}

.main_header >:nth-child(2n+2){
    color: mediumturquoise;
    font-size: 1.3em;
}

.main_btn{
    margin-left: 37%;
    text-align: center;
    border: 0;
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    font-weight: 600;
    color: darkgreen;
    background-color: gold;
    border-radius: 5px;
    box-shadow: 2px 8px 8px black;
}

.main_btn:hover{
    background-color: greenyellow;
    transform: scale(1.1);
}
.main_btn:active{
    transform: translateY(5px);
}